html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-title {
    text-align: center;
    font-size: 200%;
    font-weight: 600;
}

.carousel-title > small {
    font-size: 50%;
    font-weight: 400;
    color: #b8b8b8;
}

.carousel-outer-wrapper {
    width: 960px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-wrapper {
    overflow: hidden;
    width: 99999999px;
    height: 280px;
}

.carousel-inner-wrapper {
    margin-left: 50px;
    transition: ease 1s;
}

.carousel-menu {
    float: left;
    width: 215px;
    transition: ease 1s;
    transform: translateX(0px);
}

.carousel-menu__image {
    width: 100%;
}

.carousel-menu-description {
    margin: 0;
    padding: 0;
    width: 215px;
    text-align: center;
}

.carousel-btn {
    height: 215px;
    width: 50px;
    position: absolute;
    top: 0;
    background-color: white;
    border: none;
    font-size: 50px;
    font-weight: 200;
    color: lightgray;
    z-index: 10;
}

.carousel-left-btn {
    left: 0;
}

.carousel-right-btn {
    right: 0;
}

.menu__title {
    font-weight: bold;
    font-size: 110%;
}

.menu__detail {
    font-weight: 200;
    font-size: 80%;
    color: #666;
    line-height: 15px;
}

.menu__price-wrapper {
    margin-top: 30px;
    float: right;
}

.menu__n-price {
    color: #888;
    text-decoration: line-through;
    margin-right: 5px;
}

.menu__s-price {
    color: #2ac1bc;
    font-weight: 800;
    font-size: 120%;
}

.menu__won {
    font-size: 80%;
    font-weight: normal;
}