* {
    font-family: "Nanum Gothic", sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.best-submenu {
    background-color: #eee;
    padding-top: 20px;
}

.tab-wrapper {
    width: 960px;
    margin: 0 auto;
}

.tab-nav {
    width: 100%;
    padding: 0;
    height: 50px;
    margin-bottom: 20px;
}

.tab {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 159px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #777;
    border-right: 1px solid #eee;
}

.tab:nth-last-child(1) {
    width: 160px;
    border: none;
}

.tab.tab-visible {
    background-color: #17c2bc;
    color: white;
}

.tab-goods-wrapper {
    width: 960px;
    height: 500px;
}

.tab-goods {
    margin-right: 30px;
    width: 300px;
    height: 430px;
    float: left;
    background-color: white;
}

.tab-goods:nth-last-child(1) {
    margin-right: 0;
}

.tab-goods-img {
    width: 100%;
    height: auto;
}

.tab-goods-description {
    padding: 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}