.carousel-title {
    text-align: center;
    font-size: 200%;
}

.carousel-outer-wrapper {
    width: 960px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-wrapper {
    overflow: hidden;
    width: 99999999px;
    height: 280px;
}

.carousel-inner-wrapper {
    margin-left: 50px;
    transition: ease 1s;
}

.carousel-menu {
    float: left;
    width: 200px;
    transition: ease 1s;
    transform: translateX(0px);
    margin-right: 15px;
}

.carousel-menu:nth-last-child(1) {
    margin-right: 0;
}

.carousel-menu-image {
    width: 100%;
}

.carousel-menu-description {
    margin: 0;
    padding: 0;
    width: 215px;
    text-align: center;
}

.carousel-btn {
    height: 215px;
    width: 50px;
    position: absolute;
    top: 0;
    background-color: white;
    border: none;
    font-size: 50px;
    font-weight: 200;
    color: lightgray;
    z-index: 10;
}

.carousel-left-btn {
    left: 0;
}

.carousel-right-btn {
    right: 0;
}

.carousel-menu {

}